<html>
  <head>
    <meta charset="UTF-8">

<!-- https://code.jquery.com/ -->
    <script
   src="jquery-3.1.0.js"></script>

    <!-- //cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/ -->
    <script src="underscore.js"></script>
    <script src="backbone.js"></script>

    <script id='testTemplate' type='text/template'>
<h1>Open Street Map</h1>
</script>

    <script type="text/template" id="NominatimSearchResultTemplate">
    <strong><a href="https://www.openstreetmap.org/<%= osm_type %>/<%= osm_id %>"><span><%= display_name %></span></a></strong>
    </script>

<script type="text/template" id="search_template">
  <label>Search</label>
  <input type="text" id="search_input" />
  <input type="button" id="search_button" value="Search" />
    </script>

  </head>

  <body>

    <div class=schoolapp>
    </div>

    <div class=main>
    </div>

    <div id="search_container"></div>

    <div class=results>
    <ul id ='result_list'></ul>
    </div>


    <div class=footer>


</div>

    <script>

function global_search_callback (data) {
    console.log(data);
}

var app = app || {};

(function ($) {
    'use strict';


    // search view
  var SearchView = Backbone.View.extend({
      initialize: function(){
	  this.render();
      },
      render: function(){
	  // Compile the template using underscore
	  var template = _.template( $("#search_template").html(), {} );
	  // Load the compiled HTML into the Backbone "el"
	  this.$el.html( template );
      },

      events: {
	  'keydown': '_enter',
	  "click input[type=button]": "doSearch"
      },

      doSearch: function( event ){
	  // Button clicked, you can access the element that was clicked with event.currentTarget
	  $('#result_list').empty();
	  $('#result_list').html('<div>searching ... </div>');
	  this.model.search( $("#search_input").val() );
      },


      _enter:  function ( event ) {
	  //console.log('event target:', + event.target.name + ', ' + event.currentTarget.name); // eslint-disable-line no-console
	  if ( event.keyCode === 13 ) {
	      console.log('enter key down'); // eslint-disable-line no-console
	      var d = $("#search_input").val() ;
	      console.log('search for ' + d); // eslint-disable-line no-console
	      this.model.search( d );
	  }

      },


  });


    var NominatimSearchResult = Backbone.Model.extend({

	defaults : {
	    place_id	: 0,           // "144846810"
	    //licence :
	    osm_type        : 'null',      // relation, way, node
	    osm_id          : 0,           //	"170584"
	    boundingbox	: [0,0,0,0],
	    //	["40.1838339", "40.248298", "-74.8195815", "-74.7289039"]
	    lat	 :0.0,	    //	"40.2170575"
	    lon : 0.0,     // "-74.7429462"
	    display_name	: '', //	"Trenton, Mercer County, ...nited States of America"
	    _class	 :	"", // place
	    type	:	"",// city
	    importance	: 0.0, //	0.64618714826091
	    icon	: "http://", //		"http://nominatim.openstr...poi_place_city.p.20.png"
	    geojson : {},
	    //	    Object { type="Polygon",  coordinates=[1]}
	},

	initialize: function() {
	    // this.place_id = data.place_id;
	    // this.osm_type = data.osm_type;
	    // this.osm_id=data.osm_id;
	    // this.boundingbox=data.boundingbox;
	    // this.lat	=data.lat;
	    // this.lon		=data.lon;
	    // this.display_name	=data.display_name;
	    // this._class		=data.class;
	    // this.type	=data.type;
	    // this.importance =data.importance;
	    // this.icon	=data.icon;
	    // this.geojson =data.geojson;
	    // return this;
	}
    });

    var NominatimSearchResultsCollection = Backbone.Collection.extend({
	model : NominatimSearchResult,


	//results : [],// json results from server to decode

	// initialize: function() {
	//     for (var element in this.results) {
	//	var data = this.results[element];
	//	this.add(
	//	    new NominatimSearchResult({
	//		place_id : data.place_id,
	//		osm_type : data.osm_type,
	//		osm_id   : data.osm_id,
	//		boundingbox :data.boundingbox,
	//		lat	: data.lat,
	//		lon	:data.lon,
	//		display_name:data.display_name,
	//		_class		:data.class,
	//		type	:data.type,
	//		importance: data.importance,
	//		icon	:data.icon,
	//		geojson :data.geojson,
	//	    })
	//	);
	//     }
	//     //console.log(data);
	//     //return this;
	// }


    });

    var NominatimSearchResultView = Backbone.View.extend({
	tagName: 'li',

	template: _.template( $('#NominatimSearchResultTemplate').html()),

	result : [],

	initialize: function(){
	    this.render();
	    //return this;
	},

	render: function(){
	    var d =  this.model.toJSON();
	    console.log(d);
	    this.$el.html( this.template(d));
	    return this;
	}
    });

    var NominatimSearchResultsView = Backbone.View.extend({
	// tagName: 'ul',
	tagName: 'ul',

	render: function() {
		this.collection.each(function(result) {
		    var view = new NominatimSearchResultView({ model: result });
		    this.$el.append(view.render().el);
		}, this);
	    return this;
	}

	// results: [],

	// render: function() {
	//     console.log(this)
	//     console.log(this.collection)

	//     var index;
	//     for (index = 0; index < this.collection.length; index ++) {
	//	var result = this.collection[index];
	//	console.log(result);
	//	var resView = new NominatimSearchResultView({ model: result });

	//	console.log(resView);
	//	console.log(resView.model);

	//	var html = resView.render().el;
	//	this.$el.append(html);
	//     }

	//     return this;
	// },

	//  initialize: function(){


	// //     return this;
	// },

    });


    // for controlling the search
    var NominatimSearchObject = Backbone.Model.extend({

	url : 'http://nominatim.openstreetmap.org/search',

	result : function(data) {
	    //console.log(data)
	    $('#result_list').html("<div>Loading results</div>");


	    this.results = new NominatimSearchResultsCollection(data);

	    this.view = new NominatimSearchResultsView({collection : this.results});
	    $('#result_list').empty();
	    this.view.render();

	    $('#result_list').html(this.view.el);
	},

	search : function(query) {
	    var self = this;
	    var jsonpXHR = $.ajax({
		sink : self,
		type: 'GET',
		url: this.url + '?q='+ encodeURIComponent(query) + '&format=json&polygon_geojson=1',
		dataType: 'jsonp', // treat as json
		jsonp: 'json_callback' // the name of the parameter to pass

	    });

	    jsonpXHR.done(function (response, state, xhr) {
		//this.success(response);
		this.sink.result(response);
	    });
	    jsonpXHR.fail(function (xhr, state, errors) {
		//this.error(errors);
		console.log("error");
		console.log(errors);
	    });

	},

    });


    // connect the view to the model
    //search_view.model = ;
    var searchObject = new NominatimSearchObject();
    var search_view = new SearchView({
	el: $("#search_container"),
	model : searchObject
    });
    // search view

    /// osm lib
    var OSMChangeSet  = Backbone.Model.extend({});
    var OSMUser  = Backbone.Model.extend({});
    var OSMTag  = Backbone.Model.extend({});
    var OSMNode = Backbone.Model.extend({});
    var OSMWay = Backbone.Model.extend({});
    var OSMRelationship = Backbone.Model.extend({});
    var OSMWaysCollection = Backbone.Collection.extend({});
    var OSMNodesCollection = Backbone.Collection.extend({});
    var OSMTagsCollection = Backbone.Collection.extend({});

    var DataModel = Backbone.Model.extend({});

    var DistrictData = Backbone.Model.extend({
	defaults : {
	    starting_relation  : "Lawrence Township School Districts"
	},
    }
					    );

    app.AppView = Backbone.View.extend({

	//el: '.schoolapp',
	tagName : 'div',

	template : $("#testTemplate").html(),

	initialize: function () {
	    this.$search = this.$('.search');
	    this.$footer = this.$('.footer');
	    this.$main = this.$('.main');
	    //return this;
	},


	render: function () {
	    //this.$main.show();
	    //this.$footer.show();
	    var tmpl = _.template(this.template);
	    var data = {}; //this.model.toJSON()
	    this.$el.html(tmpl(data));

	    return this;
	},

     });

    var districtData = new DistrictData();
    var searchObject  = new NominatimSearchObject();
    var dataModel = new DataModel(
	{
	    districtData : districtData,
	    searchObject : searchObject
	}
    );
    // and create it
    var appView = new app.AppView({

	model: dataModel
    });

// render
     $(".schoolapp").html(appView.render().el);
})(jQuery);


</script>
    </body>
    </html>
